@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;800&display=swap');

html {
  font-size: 100%;
}

:root {
  --primary-text-color: #34bfff;
  --primary-text-color: #00abb3;
  --secondary-text-color: #a5e3ff;
  --accent-color: #d8601d;
  --accent-color: #d26c33;
  --normal-text-color: #fff;
  --normal-paragraph-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: var(--accent-color);
  transform: scaleX(0.3);
  transform-origin: top left;
  transition: transform 0.5s;
}

.loading-bar.ended {
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
}

.progress {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-text-color);
  font-size: 3.5rem;
  font-family: 'Indie Flower', cursive;
  pointer-events: none;
}
.progress.ended {
  opacity: 0;
}
.loading-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: beige;
  opacity: 1;
}
.loading-screen.ended {
  opacity: 0;
  z-index: -100;
}

nav {
  transition: 1s ease-in-out;
  opacity: 0;
  position: absolute;
  left: 85%;
  top: 25%;
  transform: translate(-50%, -50%);
  z-index: 101;
  transition: 0.25s ease-in-out;
  p {
    font-family: 'Poppins', sans-serif;
    color: var(--normal-text-color);
    font-weight: 600;
  }
  ul {
    list-style: none;
    li {
      font-family: 'Poppins', sans-serif;
      font-size: 4rem;
      color: var(--primary-text-color);
      cursor: pointer;
      font-weight: 600;
      transition: 0.15s ease-in-out;
      line-height: 70px;
      position: relative;
      &:hover {
        color: var(--accent-color);
      }
    }
  }
}

nav.selected {
  opacity: 1;
}

nav.active {
  display: none;
}

div.tp-lblv_l {
  color: white;
}

.back-btn {
  position: absolute;
  top: 5%;
  left: 0%;
  margin-left: 3em;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  cursor: pointer;
  opacity: 0;
  z-index: 1000;
  color: #fff;
  font-size: 2rem;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
  &:hover {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

.back-btn.selected {
  opacity: 1;
}

li.active::after {
  transform: translate(-50%, -50%) scale(1);
}

li::after {
  content: '';
  position: absolute;
  left: -5%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: var(--accent-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: 0.24s ease-in-out;
}

.content-section {
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  //height: 100%; //<= Background not covering full screen fix
  width: 100%;
  min-height: 100vh;
  transition: opacity 0.5s ease-in-out;
  z-index: -100;
  padding: 3em 5em;
  font-family: 'Poppins', sans-serif;
}

.content-section h2 {
  color: var(--primary-text-color);
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  position: relative;
}

.content-section p {
  margin-top: 1.25rem;
  color: var(--normal-text-color);
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: var(--normal-paragraph-font-size);
}

.about-section h3 {
  color: var(--secondary-text-color);
  margin-top: 1rem;
  font-size: 2rem;
  margin-bottom: -1.5rem;
}

.container {
  width: 100%;
  max-width: 550px;
}

.skills {
  margin-top: 2.8125rem;
  width: 100%;
}

.about-section h4 {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  font-weight: 600;
}

.about-section .other {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  span {
    border: 1px solid white;
    border-radius: 4px;
    background: none;
    padding: 0.2em 0.6em;
    font-size: 0.9rem;
    color: white;
  }
  margin-bottom: 40px;
}

.about-section a {
  padding: 0.4em 0.6em;
  font-size: 1.1rem;
  border-radius: 4px;
  background: var(--accent-color);
  border: 0;
  color: var(--normal-text-color);
  text-decoration: none;
  font-weight: 300;
  align-items: center;
  .cv-icon {
    color: var(--normal-text-color);
  }
}

.skills h3 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  font-weight: 600;
}

.skill {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skill .name {
  font-size: 18px;
  color: var(--secondary-text-color);
  width: 150px;
  font-weight: normal;
}

.skill-level {
  width: 100%;
  height: 15px;
  justify-self: flex-end;
  background: var(--secondary-text-color);
  position: relative;
}

.skill-level::after {
  content: '';
  position: absolute;
  background: var(--accent-color);
  height: 15px;
  border-radius: 0 10px 10px 0;
  transition: 1s linear;
  transform: scaleX(0);
}

.js-skill::after {
  width: 70%;
}
.html-css-skill::after {
  width: 80%;
}
.react-skill::after {
  width: 70%;
}
.node-skill::after {
  width: 65%;
}

.content-section h2::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--accent-color);
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.active-section {
  opacity: 1;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
}

.active-section .skill-level::after {
  transform: scaleX(1);
}

//Contact Styles
.contact-section {
  .container {
    h3 {
      color: var(--secondary-text-color);
      margin-top: 1rem;
      font-size: 2rem;
      margin-top: 1.5rem;
      margin-bottom: 0.6rem;
    }
    .form-container {
      width: 100%;
      form {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
      }
      .input-group {
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        border: 0;
        textarea {
          resize: none;
        }
        input,
        textarea {
          border: 0;
          height: 100%;
          outline: none;
          font-size: var(--normal-paragraph-font-size);
          padding: 0.5em 1em;
          font-family: 'Poppins', sans-serif;
          width: 100%;
          color: var(--normal-text-color);
          background: #434343;
          font-weight: 200;
        }
        input::placeholder,
        textarea::placeholder {
          color: var(--normal-text-color);
        }
      }
    }
    .bottom-row {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      button {
        align-self: flex-end;
        font-size: 1.25rem;
        padding: 0.4em 1em;
        border-radius: 6px;
        border: 0;
        background: var(--accent-color);
        color: var(--normal-text-color);
        cursor: pointer;
        font-weight: 300;
      }
      .socials {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        a {
          color: var(--normal-text-color);
          transition: 0.25s ease-in-out;
          &:hover {
            color: var(--accent-color);
          }
        }
      }
    }
  }
}

//Projects

.project {
  margin-top: 1rem;
  width: 100%;
  max-width: 550px;
  display: none;
  p,
  h3 {
    color: #fff;
    font-weight: 600;
  }
  h3 {
    margin: 10px 0px;
  }
  p {
    color: #ccc;
    min-height: 90px;
    font-weight: normal;
    font-size: var(--normal-paragraph-font-size);
  }

  .tech-tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    span {
      border-radius: 4px;
      background: none;
      padding: 0.2em 0.6em;
      font-size: 0.9rem;
    }
    .next {
      color: #34bfff;
      border: 1px solid #34bfff;
    }
    .js {
      color: #ffb800;
      border: 1px solid #ffb800;
    }
    .html,
    .css {
      color: #98c1d9;
      border: 1px solid #98c1d9;
    }
    .react {
      color: #34bfff;
      border: 1px solid #34bfff;
    }
    .fullstack {
      color: #2bbb4b;
      border: 1px solid #2bbb4b;
    }
  }

  .buttons-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    .btn {
      padding: 0.4em 0.6em;
      border-radius: 3px;
      border: 1px solid #ffb800;
      margin-top: 6px;
      cursor: pointer;
      background: none;
      transition: 0.25s ease-in-out;
      a {
        text-decoration: none;
        color: #ffb800;
        font-size: 1.1rem;
        font-weight: normal;
        font-family: 'Poppins';
        transition: 0.25s ease-in-out;
      }
      &:hover {
        background: black;
      }
    }
    .code-btn {
      border: 1px solid var(--secondary-text-color);
      a {
        font-weight: bold;
        color: var(--secondary-text-color);
      }
      &:hover {
        background: black;
      }
    }
  }

  .img-container {
    cursor: pointer;
    max-width: 550px;
    width: 100%;
    height: 100%;
    max-height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      transition: 0.24s ease-in-out;
    }
    img:hover {
      transform: scale(1.2);
    }
  }
}
.active-project {
  display: block;
}

.carousel {
  margin-top: 20px;
  .carousel-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .carousel-list-item {
      .img-container {
        cursor: pointer;
        width: 100%;
        max-width: 100px;
        height: 100%;
        position: relative;
        min-height: 78px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 2px;
          object-fit: cover;
        }
      }
    }
    .active {
      .img-container {
        border: 2px solid goldenrod;
        img {
          filter: grayscale(100%);
        }
      }
    }
  }
}

.icon {
  position: fixed;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: var(--normal-text-color);
  font-size: 2.1rem;
  background: var(--accent-color);
  padding: 0.2em;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

.welcome-message {
  position: absolute;
  top: 25%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
  color: var(--normal-text-color);
  opacity: 0;
  transition: 1s ease-in-out 0.25s;
  width: 80%;
  pointer-events: none;
  h1 {
    font-weight: 600;
    font-size: 6rem;
    span {
      color: var(--primary-text-color);
    }
  }
  p {
    font-size: 3rem;
    font-weight: 400;
    color: var(--accent-color);
  }
}

.welcome-message.loaded {
  opacity: 1;
  animation: vanish 1s ease-in-out 2s forwards;
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes colorChange {
  0% {
    color: var(--primary-text-color);
  }
  100% {
    color: red;
  }
}

@media only screen and (max-width: 1300px) {
  .welcome-message {
    h1 {
      font-size: 4rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 85%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
  .welcome-message {
    h1 {
      font-size: 3.5rem;
    }
  }
  nav {
    left: 25%;
    top: 25%;
  }
  .content-section {
    padding: 2em;
  }
  .back-btn {
    margin-left: 2em;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 75%;
  }
  nav {
    left: 35%;
    top: 25%;
  }
}
